html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearFix {
  clear: both; }

.divider {
  width: 330px;
  height: 1px;
  margin: 0 auto;
  background-color: #514f4b;
  margin-top: 40px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px; }

@font-face {
  font-family: 'bariol_regularregular';
  src: url("../fonts/bariol_regular-webfont.eot");
  src: url("../fonts/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol_regular-webfont.svg#bariol_regularregular") format("svg"), url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, small, ul, .singleContent {
  font-family: 'bariol_regularregular';
  font-weight: normal; }

h1 {
  font-size: 70px;
  color: #fff;
  letter-spacing: 3px; }

small {
  display: block;
  color: #fff;
  font-size: 25px; }

header {
  background-color: #ff6161;
  width: 100%; }
  header h1 {
    padding-top: 130px;
    padding-left: 50px; }
  header h1 a {
    color: #fff;
    text-decoration: none; }

.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

header ul {
  display: block;
  float: right; }

header ul li {
  padding-top: 10px;
  float: left;
  padding-left: 40px; }

/*
ul li:hover{
	border-top: 10px solid #fff;
}
*/
header ul a {
  color: #fff;
  text-decoration: none;
  font-size: 46px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s; }

header ul a:hover {
  border-top: 7px solid white;
  position: relative;
  top: 5px; }

small {
  float: right;
  position: relative;
  top: -35px; }

.pointer {
  background: url(../img/pointer.png);
  height: 51px;
  width: 102px;
  position: absolute;
  top: 225px;
  left: 160px; }

.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 4px; }

.titleBlock {
  width: 430px;
  float: left;
  height: 340px;
  background-color: #fcf1d0; }

.titleBlock:hover > .leftArrow {
  position: relative;
  left: 5px; }

.leftArrow {
  background: url(../img/leftArrow.png);
  width: 24px;
  height: 18px;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.recentImage {
  margin-left: 430px;
  width: 770px;
  height: 340px;
  background-color: green;
  overflow: hidden; }

.recentImage img {
  width: 100%;
  height: 100%; }

.newPostTitle {
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
  color: #514f4b; }

.newExerpt {
  padding-top: 30px;
  line-height: 20px;
  width: 340px;
  font-size: 17px;
  font-family: 'bariol_regularregular';
  margin: 0 auto; }

.post {
  color: #514f4b;
  margin: 0;
  width: 390px;
  float: left;
  height: 540px;
  margin: 13px 7px;
  background-color: #fcf1d0; }

.post:first-of-type {
  margin-left: 0px; }

.post:last-of-type {
  margin-right: 0px; }

.postTitleImage {
  width: 100%;
  height: 220px;
  background-color: green; }

.postTitleImage img {
  width: 100%; }

.upArrow {
  background: url(../img/upArrow.png);
  height: 24px;
  width: 18px;
  margin: 0 auto;
  margin-top: 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

a:hover .upArrow {
  position: relative;
  top: -5px; }

.post a, .newPost a {
  color: #514f4b;
  text-decoration: none; }

.postExerpt {
  padding-top: 30px;
  line-height: 20px;
  width: 340px;
  font-size: 17px;
  font-family: 'bariol_regularregular';
  margin: 0 auto; }

.postTitle {
  text-align: center;
  font-size: 25px;
  margin-top: 20px; }

.about {
  margin-bottom: 10px;
  height: 530px;
  float: left;
  width: 760px;
  background-color: #ff6161;
  color: white; }
  .about .divider {
    background-color: #fff; }
  .about .leftArrow {
    background: url(../img/whiteArrow.png);
    margin-top: 130px;
    margin-bottom: 130px; }
  .about p {
    padding-top: 30px;
    line-height: 20px;
    width: 340px;
    font-size: 17px;
    font-family: 'bariol_regularregular';
    margin: 0 auto; }

.info {
  margin-top: 60px;
  text-align: center;
  font-size: 36px; }

.aboutPic {
  background-color: #bada55;
  height: 530px;
  overflow: hidden; }
  .aboutPic img {
    width: 100%; }

.heroImage {
  width: 100%;
  height: 400px;
  background-color: #bada55;
  overflow: hidden; }

.heroImage img {
  width: 100%; }

.singleTitle {
  text-align: center;
  padding: 30px 0;
  width: 330px;
  font-size: 26px;
  display: block;
  background-color: #fcf1d0;
  margin: 0 auto;
  position: relative;
  top: -50px;
  font-size: 26px;
  font-family: 'bariol_regularregular';
  color: #514f4b; }

.downArrow {
  background: url(../img/downArrow.png);
  width: 18px;
  height: 24px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 auto;
  position: relative;
  top: -20px; }

.singleTitle:hover ~ .downArrow {
  position: relative;
  top: -15px; }

.singleCallout {
  font-size: 24px;
  width: 620px;
  color: #514f4b;
  margin: 0 auto; }

.singleCallout li {
  margin-top: 10px; }

.singleCallout li:before {
  content: ">";
  color: #ff6161;
  position: absolute;
  margin-left: -20px;
  margin-top: -2px; }

.singleContent {
  margin-right: 20px;
  float: left;
  margin-top: 50px;
  width: 700px;
  font-size: 20px;
  line-height: 23px;
  color: #514f4b; }
  .singleContent p {
    padding-top: 20px; }
  .singleContent p:first-of-type {
    padding-top: 0px; }
  .singleContent a {
    text-decoration: none;
    color: #ff6161; }
  .singleContent a:hover {
    text-decoration: underline; }
  .singleContent img {
    display: block;
    margin: 20px auto;
    border: 5px solid #e3e3e3; }

.comments {
  padding-top: 30px; }
  .comments h3 {
    font-size: 28px; }

.comment {
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #b6b6b6; }
  .comment time {
    font-size: 14px; }

.commentAuthor {
  font-size: 22px;
  color: #ff6161; }

.commentBox {
  margin-top: 10px;
  border-left: 10px solid #ff6161; }
  .commentBox p {
    padding-left: 20px; }

.sideBar {
  width: 480px;
  float: left;
  margin-top: 50px;
  /*
  	ul li:after{
  		content: "";
  		position: absolute;
  		display: block;
  		width: 330px;
  		height: 1px;
  		background-color: $text;
  		margin-top: 40px;
  		margin: 0 auto;
  	}
  
  	*/ }
  .sideBar ul li {
    padding-top: 20px;
    margin-left: 120px; }
  .sideBar ul li:hover:before {
    content: "";
    position: absolute;
    margin-left: -30px;
    background: url(../img/leftArrow.png);
    height: 18px;
    width: 24px; }
  .sideBar ul li:last-of-type {
    padding-bottom: 30px; }
  .sideBar ul a {
    text-decoration: none;
    color: #514f4b;
    font-size: 20px; }

.sidebarTitleBlock {
  width: 340px;
  background-color: #fcf1d0;
  margin: 0 auto;
  height: 90px; }
  .sidebarTitleBlock h3 {
    position: relative;
    top: 34px;
    color: #514f4b;
    font-size: 24px;
    text-align: center; }

.sidebarAbout {
  width: 340px;
  background-color: #ff6161;
  margin: 0 auto;
  height: 110px; }
  .sidebarAbout h3 {
    position: relative;
    top: 44px;
    color: #fff;
    font-size: 24px;
    text-align: center; }

.sidebarAboutInfo {
  width: 340px;
  margin: 0 auto;
  padding: 30px 0 70px 0;
  font-family: 'bariol_regularregular';
  line-height: 25px;
  color: #514f4b;
  font-size: 20px; }
  .sidebarAboutInfo a {
    text-decoration: none;
    color: #ff6161; }
  .sidebarAboutInfo a:hover {
    text-decoration: underline; }

footer {
  position: absolute;
  margin-top: 40px;
  height: 100px;
  width: 100%;
  background: #999;
  background-color: #ff6161; }
  footer h1 {
    position: relative;
    top: 15px;
    right: 10px;
    float: right; }

.footer, .push {
  height: 90px; }
