html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////
vars, mixins, sass stuff
///////////////////////////////////////////////////////////////////////////////////////////
*/

$primary: #ff6161;

$secondary: #fcf1d0;

$text: #514f4b;


/*
///////////////////////////////////////////////////////////////////////////////////////////
helper functions
///////////////////////////////////////////////////////////////////////////////////////////
*/

.clearFix{
	clear: both;
}

/*
.divider{
	width: 330px;
	height: 1px;
	margin: 0 auto;
	background-color: $text;
	margin-top: 40px;
}
*/

/*
///////////////////////////////////////////////////////////////////////////////////////////
globals
///////////////////////////////////////////////////////////////////////////////////////////
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


/*
///////////////////////////////////////////////////////////////////////////////////////////
typography
///////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: 'bariol_regularregular';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_regular-webfont.woff') format('woff'),
         url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3, small, ul{
	font-family: 'bariol_regularregular';
	font-weight: normal;
}

h1{
	font-size: 70px;
	color: #fff;	
	letter-spacing: 3px;
}

small{
	display: block;
	color: #fff;
	font-size: 25px;

}


/*
///////////////////////////////////////////////////////////////////////////////////////////
header
///////////////////////////////////////////////////////////////////////////////////////////
*/

header{
	background-color: $primary;
	width: 100%;



	h1{
		padding-top: 130px;
		padding-left: 50px;
	}
}

.wrap{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

ul{
	display: block;
	float: right;
}

ul li{
	padding-top: 10px;
	float: left;
	padding-left: 40px;
}

/*
ul li:hover{
	border-top: 10px solid #fff;
}
*/

ul a{
	color: #fff;
	text-decoration: none;
	font-size: 46px;
	transition: all .4s;  
}

ul a:hover{
	border-top: 7px solid white;
	position: relative;
	top: 5px;
}

small{
	float: right;
	position: relative;
	top: -35px;
}

.pointer{
	background: url(../img/pointer.png);
	height: 51px;
	width: 102px;
	position: absolute;
	top: 225px;
	left: 160px;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////
main
///////////////////////////////////////////////////////////////////////////////////////////
*/

.main{
	max-width: 1200px;;
	width: 99.583333334%;
	background-color: $secondary;
	margin: 0 auto;
	margin-top: 4px;
}

.titleBlock{
	width: 35.833333333%;
	float: left;
	background-color: red;
}


.recentImage{
	background-color: #bada55;
	width: 64.166666666%;
	height: 340px;
	margin-left: 35.833333333%;
}
/*

.titleBlock{
	width: 35.833333333%;
	float: left;
}

.titleBlock:hover > .leftArrow{
	position: relative;
	left: 5px;
}

.leftArrow{
	background: url(../img/leftArrow.png);
	width: 24px;
	height: 18px;
	margin: 0 auto;
	margin-top: 03.333333333%;
	transition: all 0.5s;
}

.recentImage{
	//margin-left: 430px;
	width: 64.166666666%;
	height: 340px;
	//background: url(../img/mainImage.jpg) no-repeat;
	overflow: hidden;
	background-color: pink;
	background-position: cover;
}


.newPostTitle{
	padding-top: 17.647058823%;
	text-align: center;
	font-size: 30px;
	color: $text;
}

.newExerpt{
	padding-top: 40px;
	line-height: 20px;
	width: 79.069767441%;
	font-size: 17px;
	font-family: 'bariol_regularregular';
	margin: 0 auto;
}

*/